header img {
  width: 50px;
  border-radius: 5px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 20fr 5fr;
  grid-area: h;
  background-color: rgb(62, 123, 238);
  border: 6px solid rgb(62, 123, 238);
  border-radius: 8px;
}

.social_netw_name {
  padding: 10px;
  color: aliceblue;
  font-size: 25px;
}

.login_header {
  text-align: right;
  vertical-align: middle;
  font-size: 20px;
  padding-right: 5px;

  & a {
    color: aliceblue;
    text-decoration: none;
  }
}

.hide_button {
  display: none;
}