
.login_error {
  color: red;
  font-size: 12px;
  background-color: black;
}

.login_form {
    margin-left: 30%;
    margin-top: 10px;
}

.success {
  color: white;
  background-color: green;
  padding-left: 10px;
}

.login_button {
  display: flex;
  justify-content: center;
}