.app_wrapper {
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    grid-template-rows: 63px 10fr 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 'h h' 'n c' 'n c';
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.main_img_box {
    grid-area: mi;
}

div img {
    border-radius: 5px;
}

.posts {
    grid-area: posts;
}

.posts textarea {
    width: 99%;
    resize: none;
    border-radius: 10px;
    background-color: floralwhite;
}

.friends {
    display: grid;
    grid-area: df;
    background-color: rgb(62, 123, 238);
    border: 6px solid rgb(62, 123, 238);
    font-size: 20px;
    color: white;
    border-radius: 8px;
}

.deleteMessage:hover {
    color: red;
    cursor: pointer;
}

.user_img {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.selected_page_number {
    color: white;
    background-color: rgb(62, 123, 238);
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 5px 5px 8px;
}

.non_selected_page_number {
    cursor: pointer;
    padding: 5px 5px 5px 8px;
}

.page_numbers {
    padding: 10px;
}

.preloader_img {
    width: 50px;
    height: 50px;
    z-index: 1000
}

.preloader {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
}

.login_fields input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.button {
  background: linear-gradient(rgba(40, 101, 226, 0.93), #9198e5);
  color: rgb(254, 254, 255);
  margin: 5px;
  padding: 5px 10px;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
    background: linear-gradient(rgba(30, 76, 172, 0.93), #7b81c2);
}